/* Popover */
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  font-size: var(--font-size-sm);
  background-color: var(--color-bg);
  background-clip: padding-box;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-sm);
}
.popover.show {
  display: block;
}

.popover-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-size: var(--font-size-base);
  background-color: var(--color-bg-alt);
  border-bottom: 1px solid var(--color-border);
  border-top-left-radius: calc(var(--radius-md) - 1px);
  border-top-right-radius: calc(var(--radius-md) - 1px);
}

.popover-body {
  padding: 1rem 1rem;
  color: var(--color-text);
}

/* Arrow logic */
.popover .popover-arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
}
.popover .popover-arrow::before,
.popover .popover-arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}
