@use "sass:map";
@use "sass:math";
@use "variables" as *;

@mixin media-breakpoint-up($name) {
  $min: map.get($breakpoints, $name);
  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin make-container() {
  width: 100%;
  padding-right: calc(var(--bs-gutter-x, 1.5rem) / 2);
  padding-left: calc(var(--bs-gutter-x, 1.5rem) / 2);
  margin-right: auto;
  margin-left: auto;
}

@mixin make-row() {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) / -2);
  margin-left: calc(var(--bs-gutter-x) / -2);
  
  > * {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) / 2);
    padding-left: calc(var(--bs-gutter-x) / 2);
    margin-top: var(--bs-gutter-y);
  }
}

@mixin make-grid-columns($columns: $grid-columns) {
  .row {
    @include make-row();
  }
  
  // Common properties for all cols
  %grid-column {
    position: relative;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x, 1.5rem) / 2);
    padding-left: calc(var(--bs-gutter-x, 1.5rem) / 2);
  }
  
  .col {
    flex: 1 0 0%;
  }
  .col-auto {
    flex: 0 0 auto;
    width: auto;
  }
  
  @for $i from 1 through $columns {
    .col-#{$i} {
      flex: 0 0 auto;
      width: math.percentage(math.div($i, $columns));
    }
  }

  @each $breakpoint, $width in $breakpoints {
    @include media-breakpoint-up($breakpoint) {
      .col-#{$breakpoint} {
        flex: 1 0 0%;
      }
      .col-#{$breakpoint}-auto {
        flex: 0 0 auto;
        width: auto;
      }
      @for $i from 1 through $columns {
        .col-#{$breakpoint}-#{$i} {
          flex: 0 0 auto;
          width: math.percentage(math.div($i, $columns));
        }
      }
    }
  }
}
